@media (max-width: 767px){

    .layout{
        grid-template: none;
    }

    .why__us{
        padding: 375px 40px 10px;
    }

    .hero{
        height: 90vh;
    }

    .features__list{
        flex-wrap: wrap;
    }

    .about__container{
        grid-template: repeat(2, 1fr) / 1fr;
    }

    .about__image{
        justify-content: center;
        align-items: center;
    }

    .about__image::after{
        bottom: 20px;
        right: 40px;
    }

    .about__image::before{
        bottom: 60px;
        right: 20px;
    }

    .company__container{
        grid-template: repeat(3, 1fr) / 1fr;
    }

    .services__container{
        grid-template: repeat(6, 1fr) / 1fr;
    }
}

@media (min-width: 768px) and (max-width:1024px){
    .layout{
        grid-template: none;
    }

    .feature__card-title{
        font-size: 0.9rem;
    }

    .why__us{
        padding: 200px 40px 10px;
    }

    .hero{
        height: 90vh;
    }

    .about__container{
        grid-template: repeat(2, 1fr) / 1fr;
    }

    .about__image{
        justify-content: center;
        align-items: center;
    }

    .about__image::after{
        bottom: -10px;
        right: 55px;
    }

    .company__container{
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    }

    .company__main{ 
        grid-area: 1 / 1 / 2 / 3; 
    }

    .services__container{
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    }

}